* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

.container {
    background: linear-gradient(90deg, #848d30, #e2e8f0);
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.todo-list {
    margin: 120px auto 20px;
    padding: 40px 30px 80px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;

}

.todo-list h2 {
    color: black;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;


}