* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

.container {
    background: linear-gradient(90deg, #888882, #e2e8f0);
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

.todo-list {
    margin: 120px auto 20px;
    padding: 40px 30px 80px;
    width: 100%;
    max-width: 600px;
    background-color: white;
    border-radius: 10px;

}

.todo-list h2 {
    color: black;
    font-weight: bolder;
    font-size: 50px;
    display: flex;
    justify-content: center;

}

.entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

input[type="text"] {
    width: 82%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #61c064;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

ul li {
    list-style: none;
    font-size: 20px;
    user-select: none;
    position: relative;
    padding: 12px 8px 12px 40px;
    cursor: pointer;
}

ul li::before {
    content: "◯";
    color: #61c064;
    font-size: 20px;
    margin-right: 10px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

ul li.completed {
    text-decoration: line-through;
    color: #ccc;
}

ul li.completed::before {
    content: "⬤";
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    cursor: pointer;
}